<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Allergens</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Allergen Calculator</h1>
      </div>
      <h3>You have the following allergies:</h3>
      <ul>
          @foreach (var item in Model)
          {
            <li>@item</li>
          }
      </ul>
      <h4><a href="/">Try again</a></h4>
    </div>
  </body>
</html>
